@charset "UTF-8";
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Georgia/Georgia.ttf") format("truetype");
}

.uk-modal-dialog {
  padding: 30px 0 20px;
  border-radius: 3px;
}

.uk-modal-dialog .header {
  padding: 22px 10px;
  background-color: #f7f9fc;
  position: relative;
  border-bottom: 1px solid #d9e1e7;
  border-top: 1px solid #d9e1e7;
  margin-bottom: 30px;
}

.uk-modal-dialog .header .close__btn {
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.uk-modal-dialog .header h3 {
  font-size: 1.375em;
  color: #456db2;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto-Medium";
}

.uk-modal-dialog .modal__body form {
  text-align: center;
}

.uk-modal-dialog .modal__body form input {
  width: 100%;
  border: 1px solid #dee3ed;
  border-radius: 5px;
  font-family: "Georgia";
  max-width: 340px;
  height: 40px;
  padding: 10px 15px;
  font-size: 0.8em;
  color: dimgray;
  margin: 0 auto 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "Roboto-Medium";
}

.uk-modal-dialog .modal__body form input::-webkit-input-placeholder {
  font-family: "Roboto-Medium";
}

.uk-modal-dialog .modal__body form input:-ms-input-placeholder {
  font-family: "Roboto-Medium";
}

.uk-modal-dialog .modal__body form input::-ms-input-placeholder {
  font-family: "Roboto-Medium";
}

.uk-modal-dialog .modal__body form input::placeholder {
  font-family: "Roboto-Medium";
}

.uk-modal-dialog .modal__body form input:focus {
  border-color: #7691c3;
}

.uk-modal-dialog .modal__body form input:focus::-webkit-input-placeholder {
  color: black;
}

.uk-modal-dialog .modal__body form input:focus:-ms-input-placeholder {
  color: black;
}

.uk-modal-dialog .modal__body form input:focus::-ms-input-placeholder {
  color: black;
}

.uk-modal-dialog .modal__body form input:focus::placeholder {
  color: black;
}

.uk-modal-dialog .modal__body form input[type="submit"] {
  max-width: 230px;
  border-color: #7691c3;
  color: #7691c3;
  background-color: white;
  text-transform: uppercase;
  height: 45px;
  font-size: 0.9em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.uk-modal-dialog .modal__body form input[type="submit"]:hover {
  color: white;
  background-color: #7691c3;
}

.uk-modal-dialog .modal__body form p {
  margin: 5px auto 17px;
  font-size: 0.95em;
  font-family: "Roboto-Light";
  color: #8a8a8a;
  text-align: left;
  max-width: 340px;
}

.uk-modal-dialog .modal__body form p span {
  color: black;
}

.uk-modal-dialog .modal__body form .text {
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: center;
}

#get_request .uk-modal-dialog,
#question .uk-modal-dialog,
#apply__education .uk-modal-dialog {
  width: 100%;
  max-width: 450px;
}

.close__btn {
  position: absolute;
  right: 0px;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close__btn::after, .close__btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  top: 8px;
  background-color: #456db2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close__btn::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* общие настройки */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular";
  font-size: 16px;
}

.conteiner {
  width: 1120px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  border: 0;
  max-width: 100%;
}

.uk-link:hover,
a:hover {
  text-decoration: none;
}

address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}

h1 {
  font-family: "Roboto-Medium";
  font-size: 2em;
  color: #326594;
}

#breadcumbs {
  padding: 23px 0;
  font-size: 0.95em;
  background-color: #f7f9fc;
  border-bottom: 1px solid #d9e1e7;
  border-top: 1px solid #d9e1e7;
}

#breadcumbs ul {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#breadcumbs ul li {
  margin-right: 30px;
  position: relative;
}

#breadcumbs ul li:first-child a::before {
  content: url(../img/icon/home-breadcumbs.png);
  margin-right: 10px;
}

#breadcumbs ul li::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-left: 6px solid #456db2;
  top: 4px;
  right: -25px;
}

#breadcumbs ul li a {
  white-space: nowrap;
  color: #687985;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#breadcumbs ul li a:hover {
  color: #456db2;
}

#breadcumbs ul li:last-child::after {
  content: none;
}

#breadcumbs ul li:last-child a {
  color: #456db2;
  border-bottom: 1px solid #456db2;
}

#breadcumbs ul li:last-child a:hover {
  opacity: 1;
  cursor: inherit;
}

#pagination {
  padding: 40px 0;
}

#pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pagination ul li {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #f6f7f9;
  border: 1px solid #eff2f5;
  border-radius: 4px;
  font-family: "Roboto-Light";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0 5px;
  padding: 5px 0px;
  text-align: center;
}

#pagination ul li:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  border: 1px solid transparent;
}

#pagination ul li:first-child, #pagination ul li:last-child {
  width: 0;
  height: 0;
  border: none;
}

#pagination ul li:first-child::after, #pagination ul li:last-child::after {
  content: url(../img/icon/pagination__next.png);
  position: absolute;
  top: 50%;
  left: -20px;
}

#pagination ul li:last-child::after {
  content: url(../img/icon/pagination__next.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -30px;
  left: 0;
}

#pagination ul li:nth-child(6) {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: "Roboto-Medium";
}

#pagination ul li:nth-child(6):hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: 1px solid transparent;
}

#pagination ul li a {
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#pagination ul li a[aria-current="page"] {
  font-weight: bold;
}

.uk-slidenav-next::after,
.uk-slidenav-previous::after {
  content: ">";
  position: absolute;
}

#header .top__row {
  background-color: #eef1f7;
  padding: 27px 0 22px;
}

#header .top__row .top__row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .top__row .top__row-items a {
  margin-left: 17px;
  color: #456db2;
}

#header .top__row .top__row-items li:nth-child(2) span:first-child {
  color: #456db2;
  font-family: "Georgia";
}

#header .top__row .top__row-items li:nth-child(2) span:nth-child(2) a {
  color: #1f1f1f !important;
}

#header .top__row .top__row-items li:nth-child(3) {
  font-family: "Georgia";
}

#header .top__row .top__row-items li:nth-child(3) a {
  margin-left: 25px;
}

#header .top__row .top__row-items li:nth-child(3)::before {
  content: url(../img/icon/mail_icon.png);
  width: 20px;
  height: 20px;
  position: absolute;
}

#header .dropdown__phone li a {
  margin-left: 27px !important;
  color: #1f1f1f !important;
}

#header .dropdown__phone li .pseudo {
  position: relative;
  color: #456db2;
  cursor: pointer;
  font-family: "Georgia";
}

#header .dropdown__phone li .pseudo:hover {
  border-bottom: 1px solid #456db2;
}

#header .dropdown__phone li .pseudo::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -17px;
  border: 5px solid transparent;
  border-top: 6px solid #456db2;
}

#header .dropdown__phone .dropdown__hide {
  opacity: 0;
  position: absolute;
  background-color: white;
  padding: 14px 23px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#header .dropdown__phone .dropdown__hide::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 63px;
  border: 5px solid transparent;
  border-bottom: 6px solid white;
}

#header .dropdown__phone .dropdown__hide .pseudo::before {
  content: none;
}

#header .dropdown__phone .dropdown__hide.active {
  opacity: 1;
}

#header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .social li {
  font-family: "Georgia";
}

#header .social li::before {
  width: 20px;
  height: 20px;
  position: absolute;
}

#header .social li a {
  margin-left: 25px !important;
}

#header .social li:first-child {
  margin-right: 20px;
}

#header .social li:first-child::before {
  content: url(../img/icon/whatsapp_icon.png);
}

#header .social li:nth-child(2)::before {
  content: url(../img/icon/telega_icon.png);
}

#header .center__row .conteiner,
#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .center__row {
  padding: 50px 0;
  border-bottom: 1px solid #dee3ed;
}

#header .search {
  max-width: 380px;
  width: 100%;
}

#header .search form {
  position: relative;
}

#header .search form input {
  width: 100%;
  border: 1px solid #dee3ed;
  border-radius: 5px;
  font-family: "Georgia";
  padding: 8px 13px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#header .search form input::-webkit-input-placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#header .search form input:-ms-input-placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#header .search form input::-ms-input-placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#header .search form input::placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#header .search form input:focus {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#header .search form button {
  position: absolute;
  background-color: transparent;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

#header .get_request button {
  background-color: white;
  color: #456db2;
  text-transform: uppercase;
  border: 1px solid #456db2;
  border-radius: 5px;
  padding: 6px 11px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

#header .get_request button:hover {
  background-color: #456db2;
  color: white;
}

#header nav {
  padding: 35px 0;
}

#header nav ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header nav ul li a {
  color: #354b65;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  position: relative;
}

#header nav ul li a:hover::before {
  content: url(../img/icon/Ellipses_programes.png);
  position: absolute;
  left: -25px;
  top: 1px;
  opacity: 0;
  -webkit-animation: show-before 0.4s forwards ease-in;
          animation: show-before 0.4s forwards ease-in;
}

@-webkit-keyframes show-before {
  100% {
    opacity: 1;
  }
}

@keyframes show-before {
  100% {
    opacity: 1;
  }
}

main {
  padding: 40px 0;
}

main .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .left__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25.358%;
          flex: 0 1 25.358%;
}

main .content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 72.858%;
          flex: 0 1 72.858%;
}

main .left__sidebar-link a {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 1.25em;
  background-color: #326594;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-bottom: 20px;
}

main .left__sidebar-link a::after {
  content: url(../img/left_sidebar/triangre.png) url(../img/left_sidebar/triangre.png);
  background-color: #24527d;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  padding: 26px 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .left__sidebar-link a:hover {
  opacity: 0.85;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

main .programms {
  margin-bottom: 20px;
}

main .programms li {
  padding: 0 0 0 65px;
  height: 56px;
  width: 100%;
  border: 1px solid #dee3ed;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

main .programms li a {
  font-size: 1.065em;
  line-height: 1.2;
  position: relative;
}

main .programms li a:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 5px;
}

main .programms li:nth-child(1) a:before {
  content: url(../img/left_sidebar/Book.png);
}

main .programms li:nth-child(1):hover a:before {
  content: url(../img/left_sidebar/Book-active.png);
}

main .programms li:nth-child(2) a:before {
  content: url(../img/left_sidebar/Teacher.png);
  top: 0;
}

main .programms li:nth-child(2):hover a:before {
  content: url(../img/left_sidebar/Teacher-active.png);
}

main .programms li:nth-child(3) a:before {
  content: url(../img/left_sidebar/money.png);
  top: 0;
}

main .programms li:nth-child(3):hover a:before {
  content: url(../img/left_sidebar/money-active.png);
}

main .programms li:nth-child(4) a:before {
  content: url(../img/left_sidebar/chat.png);
}

main .programms li:nth-child(4):hover a:before {
  content: url(../img/left_sidebar/chat-active.png);
}

main .programms li:nth-child(5) a:before {
  content: url(../img/left_sidebar/certificate.png);
}

main .programms li:nth-child(5):hover a:before {
  content: url(../img/left_sidebar/certificate-active.png);
}

main .programms li:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

main .programms li:hover a {
  color: #326594;
}

main .our__activity,
main .popular {
  background-color: #eef1f7;
  border-radius: 5px;
}

main .our__activity h2,
main .popular h2 {
  font-size: 1.375em;
  height: 70px;
  text-transform: uppercase;
  color: #24527d;
  padding: 20px 15px;
}

main .our__activity ul,
main .popular ul {
  background-color: #eef1f7;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 0.3px;
}

main .our__activity ul li,
main .popular ul li {
  background-color: white;
  height: 60px;
  padding-left: 35px;
  margin: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .our__activity ul li a,
main .popular ul li a {
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}

main .our__activity ul li a:before,
main .popular ul li a:before {
  content: url(../img/left_sidebar/Layer.png);
  margin: 0 15px 0 -20px;
  position: absolute;
}

main .our__activity ul li:hover,
main .popular ul li:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-transform: scaleY(1.001);
          transform: scaleY(1.001);
}

main .our__activity ul li:hover a:before,
main .popular ul li:hover a:before {
  content: url(../img/left_sidebar/Layer-hover.png);
}

main .our__activity ul li:nth-child(5) a:before {
  top: 12px;
}

main .additional__programs ul li:nth-child(3) a:before, main .additional__programs ul li:nth-child(8) a:before {
  top: 12px;
}

main .social {
  margin-bottom: 20px;
  border: 1px solid #eef1f7;
  border-radius: 5px;
}

main .social h2 {
  font-size: 1.375em;
  height: 80px;
  text-transform: uppercase;
  color: #24527d;
  padding: 10px 15px;
  background-color: #eef1f7;
  border-radius: 5px;
}

main .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

main .social ul li {
  cursor: pointer;
}

main .social ul li:nth-child(1)::after {
  content: url(../img/left_sidebar/vk.png);
}

main .social ul li:nth-child(2)::after {
  content: url(../img/left_sidebar/facebook.png);
}

main .social ul li:nth-child(3)::after {
  content: url(../img/left_sidebar/insta.png);
}

main .social ul li:nth-child(4)::after {
  content: url(../img/left_sidebar/ya.png);
}

main .social ul li:nth-child(5)::after {
  content: url(../img/left_sidebar/youtгbe.png);
}

main .social ul li:hover:nth-child(1)::after {
  content: url(../img/left_sidebar/vk-active.png);
}

main .social ul li:hover:nth-child(2)::after {
  content: url(../img/left_sidebar/facebook-active.png);
}

main .social ul li:hover:nth-child(3)::after {
  content: url(../img/left_sidebar/insta-active.png);
}

main .social ul li:hover:nth-child(4)::after {
  content: url(../img/left_sidebar/ya-active.png);
}

main .social ul li:hover:nth-child(5)::after {
  content: url(../img/left_sidebar/youtгbe-active.png);
}

main .popular h2 {
  height: 85px;
  padding: 14px 15px;
}

main .popular ul li:nth-child(2) a:before {
  top: 12px;
}

main .apply__education a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-transform: uppercase;
  background-image: url(../img/left_sidebar/get_request.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 278px;
  height: 118px;
  position: relative;
  font-weight: bold;
  font-size: 1.375em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .apply__education a span {
  margin-left: -13px;
}

main .apply__education a span:after {
  content: url(../img/left_sidebar/triangre.png) url(../img/left_sidebar/triangre.png);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0 0 0 8px;
  position: absolute;
}

main .apply__education a::after {
  content: "";
  position: absolute;
  width: 258px;
  height: 98px;
  display: block;
  border-radius: 5px;
  border: 1px solid white;
}

main .apply__education a:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

main .program__items {
  margin: 40px 0;
}

main .program__items .item__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 15px;
  margin-bottom: 15px;
}

main .program__items .item__row:nth-child(1) {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

main .program__items .item__row:nth-child(2), main .program__items .item__row:nth-child(5) {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main .program__items .item__row:nth-child(3) {
      grid-template-areas: "a b b" "a c c";
}

main .program__items .item__row:nth-child(3) .item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
  height: 100%;
  max-width: 262px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 20px;
}

main .program__items .item__row:nth-child(3) .item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: b;
}

main .program__items .item__row:nth-child(3) .item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: c;
}

main .program__items .item__row:nth-child(4) {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

main .program__items .item__row .item {
  padding: 20px 10px;
  border-radius: 5px;
  height: 195px;
  border: 1px solid #eef1f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .program__items .item__row .item .img {
  width: 100%;
  max-width: 65px;
  margin-right: 10px;
}

main .program__items .item__row .item .description {
  width: 100%;
}

main .program__items .item__row .item .description h2 {
  font-family: "Roboto-Medium";
  font-size: 1.375em;
  margin-bottom: 10px;
  line-height: 1;
  font-weight: normal;
}

main .program__items .item__row .item .description p {
  font-family: "Roboto-Light";
  color: black;
  opacity: 0.85;
  margin-bottom: 10px;
}

main .program__items .item__row .item .description a {
  font-family: "Roboto-Light";
  font-size: 0.95em;
  color: #aaaaaa;
  opacity: 0.85;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .program__items .item__row .item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

main .program__items .item__row .item:hover .description a {
  color: #326594;
}

main .about__us,
main .why,
main .article {
  margin-bottom: 50px;
  padding: 0 20px;
}

main .about__us h2,
main .why h2,
main .article h2 {
  font-size: 2em;
  color: #24527d;
  margin: 10px 0 20px;
}

main .about__us h3,
main .why h3,
main .article h3 {
  font-size: 1.25em;
  margin-bottom: 40px;
  color: #0a0a0a;
}

main .about__us p,
main .why p,
main .article p {
  color: dimgray;
  font-size: 1.05em;
  text-align: justify;
  line-height: 1.412;
  font-family: "Roboto-Light";
  margin-bottom: 25px;
}

main .about__us a,
main .why a,
main .article a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #326594;
}

main .about__us a:hover,
main .why a:hover,
main .article a:hover {
  opacity: 0.8;
}

main .why h2 {
  margin-bottom: 35px;
}

main .why .img__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .why .img__items .item {
  border-right: 1px solid #eef1f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 40px 0;
}

main .why .img__items .item:nth-child(4) {
  border-right: none;
}

main .why .img__items .item span {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

main .article .head,
main .article .head__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .article .head__link a {
  padding: 14px 19px;
  font-size: 0.95em;
  font-family: "Roboto-Light";
  border-radius: 3px;
  color: #8695a3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .article .head__link a:hover {
  background-color: #8695a3;
  color: white;
}

main .article .article__items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .article .article__items .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

main .article .article__items .item .item__img {
  position: relative;
  border-radius: 3px;
  margin-bottom: 10px;
}

main .article .article__items .item .item__img .statistics {
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100px;
  font-family: "Roboto-Light";
  font-size: 0.95em;
  color: white;
  padding: 4px 0;
  text-align: center;
}

main .article .article__items .item .item__img .statistics span {
  position: relative;
}

main .article .article__items .item .item__img .statistics span::before {
  content: "";
  position: absolute;
}

main .article .article__items .item .item__img .statistics span:nth-child(1) {
  margin: 0 30px 0 20px;
}

main .article .article__items .item .item__img .statistics span:nth-child(1)::before {
  content: url(../img/content/img/Eye.png);
  right: 20px;
}

main .article .article__items .item .item__img .statistics span:nth-child(2)::before {
  content: url(../img/content/img/Comment.png);
  left: -20px;
  top: 3px;
}

main .article .article__items .item .item__description h3 {
  font-family: "Roboto-Medium";
  font-weight: bold;
  color: #444444;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.2;
}

main .article .article__items .item .item__description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .article .article__items .item .item__description p span {
  font-family: "Roboto-Light";
  font-size: 0.875em;
  font-weight: lighter;
  color: #aaaaaa;
}

#administrative__responsibility h1 {
  margin-bottom: 40px;
}

#administrative__responsibility p {
  font-size: 1.5em;
  padding: 50px 0 35px;
  color: #2b2b23;
}

#administrative__responsibility ul.first__content li {
  padding: 0 0 35px 25px;
  font-family: "Roboto-Light";
  font-size: 1.05em;
  line-height: 1.4;
  color: dimgray;
  position: relative;
  text-align: justify;
}

#administrative__responsibility ul.first__content li::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-left: 9px solid #326594;
  top: 3px;
  left: 0;
}

#administrative__responsibility ul.first__content li:nth-child(2n) {
  font-family: "Roboto-Regular";
  color: #272626;
  padding-bottom: 60px;
}

#administrative__responsibility ul.first__content li:nth-child(2n)::before {
  content: none;
}

#administrative__responsibility hr {
  background-color: #d9e1e7;
}

#administrative__responsibility ul.second__content li {
  padding: 0 0 35px 25px;
  font-family: "Roboto-Light";
  font-size: 1.05em;
  line-height: 1.4;
  color: dimgray;
  position: relative;
  text-align: justify;
}

#administrative__responsibility ul.second__content li::before {
  content: "1";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #326594;
  color: #326594;
  padding: 2px 6px 0;
  font-size: 12px;
  top: 3px;
  left: 0;
  font-family: "Roboto-Medium";
  background-color: white;
}

#administrative__responsibility ul.second__content li:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 3px;
  width: 1px;
  height: 100%;
  background-color: #326594;
  z-index: -1;
}

#administrative__responsibility ul.second__content li:nth-child(2)::before {
  content: "2";
}

#administrative__responsibility ul.second__content li:nth-child(3)::before {
  content: "3";
}

#administrative__responsibility ul.second__content li:nth-child(3)::after {
  content: none;
}

#arhiv .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
  background-color: #f6f7f9;
  border-radius: 3px;
  position: relative;
  margin: 3px 0 30px;
}

#arhiv .head::before {
  content: url(../img/content/arhiv/icon_pseudo.png);
  position: absolute;
}

#arhiv .head::after {
  content: url(../img/content/arhiv/header_icon.png);
  position: absolute;
  left: 15px;
}

#arhiv .head h1 {
  padding-left: 115px;
  position: relative;
}

#arhiv .search {
  padding: 0 15px 30px;
  width: 100%;
}

#arhiv .search form {
  position: relative;
}

#arhiv .search form input {
  width: 100%;
  border: 1px solid #dee3ed;
  border-radius: 5px;
  font-family: "Georgia";
  padding: 8px 13px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#arhiv .search form input::-webkit-input-placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#arhiv .search form input:-ms-input-placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#arhiv .search form input::-ms-input-placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#arhiv .search form input::placeholder {
  color: #dee3ed;
  font-size: 0.9em;
}

#arhiv .search form input:focus {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#arhiv .search form button {
  position: absolute;
  background-color: transparent;
  top: 9px;
  right: 10px;
  cursor: pointer;
}

#arhiv .load__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d9e1e7;
  height: 150px;
  width: 100%;
  padding: 0 20px 0 60px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#arhiv .load__items .item:last-child {
  border-bottom: 1px solid #d9e1e7;
}

#arhiv .load__items .item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

#arhiv .load__items .item:hover .download__btn a {
  background-color: #456db2;
  color: white;
}

#arhiv .load__items .item:hover .download__btn a::after {
  content: url(../img/content/arhiv/load_btn-active.png);
}

#arhiv .load__items .item .item-name {
  position: relative;
}

#arhiv .load__items .item .item-name p {
  color: #3f3f3f;
  font-size: 1.05em;
  width: 100%;
  max-width: 565px;
  text-align: justify;
}

#arhiv .load__items .item .item-name::before {
  content: url(../img/content/arhiv/icon_item.png);
  position: absolute;
  left: -40px;
  top: 0;
}

#arhiv .load__items .item .download__btn a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #456db2;
  border-radius: 5px;
  background-color: white;
  color: #456db2;
  position: relative;
  padding: 14px 45px 13px 25px;
  text-transform: uppercase;
  font-size: 0.9em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#arhiv .load__items .item .download__btn a::after {
  content: url(../img/content/arhiv/load_btn.png);
  position: absolute;
  top: 11px;
  right: 13px;
}

#arhiv .info {
  border-top: 1px solid #d9e1e7;
  padding: 55px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto-Light";
}

#arhiv .info a {
  padding: 30px;
  font-family: "Roboto-Medium";
  font-weight: bold;
  font-size: 1.25em;
  position: relative;
}

#arhiv .info a::before {
  content: url(../img/content/arhiv/phone.png);
  position: absolute;
  left: 0;
  top: 30px;
}

.content__form form {
  padding: 25px 30px 30px;
  background-color: #f7f9fc;
  border: 1px solid #d9e1e7;
  border-radius: 5px;
}

.content__form form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__form form .btn {
  text-align: center;
}

.content__form form input {
  width: 100%;
  border: 1px solid #dee3ed;
  border-radius: 5px;
  font-family: "Georgia";
  max-width: 340px;
  height: 42px;
  background-color: white;
  font-family: "Georgia";
  padding: 10px 15px;
  border: 1px solid #d9e1e7;
  margin-bottom: 25px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content__form form input::-webkit-input-placeholder {
  color: dimgray;
  font-family: "Georgia";
}

.content__form form input:-ms-input-placeholder {
  color: dimgray;
  font-family: "Georgia";
}

.content__form form input::-ms-input-placeholder {
  color: dimgray;
  font-family: "Georgia";
}

.content__form form input::placeholder {
  color: dimgray;
  font-family: "Georgia";
}

.content__form form input:focus {
  border-color: #7691c3;
}

.content__form form input:focus::-webkit-input-placeholder {
  color: black;
}

.content__form form input:focus:-ms-input-placeholder {
  color: black;
}

.content__form form input:focus::-ms-input-placeholder {
  color: black;
}

.content__form form input:focus::placeholder {
  color: black;
}

.content__form form input[type="checkbox"] {
  width: 10px;
  height: 10px;
  margin-bottom: 0;
  margin-right: 15px;
}

.content__form form input[type="submit"] {
  max-width: 230px;
  border-color: #456db2;
  color: #456db2;
  background-color: white;
  text-transform: uppercase;
  height: 45px;
  font-size: 0.9em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  margin-bottom: 0;
}

.content__form form input[type="submit"]:hover {
  color: white;
  background-color: #456db2;
}

.content__form label[for="check"] {
  background-color: #eef1f7;
  color: #b1bac6;
  max-width: 340px;
  width: 100%;
  height: 42px;
  border-radius: 5px;
  font-family: "Georgia";
  padding: 10px 16px;
}

#outsorsing .head h1 {
  padding: 35px 0 50px;
}

#outsorsing .head p {
  font-family: "Roboto-Light";
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 45px;
  color: black;
  font-size: 1.07em;
}

#outsorsing .head .text {
  color: dimgray;
}

#outsorsing .price {
  border-top: 1px solid #d9e1e7;
  border-bottom: 1px solid #d9e1e7;
  padding: 40px 0;
  margin-bottom: 10px;
}

#outsorsing .price p {
  font-family: "Roboto-Medium";
  font-size: 1.75em;
  color: #212121;
}

#outsorsing .price p span {
  font-family: "Roboto-Regular";
  font-size: 1.875rem;
  color: #2f528e;
}

#outsorsing .price p span:nth-child(2) {
  font-size: 1rem;
  color: rgba(33, 33, 33, 0.74);
  margin-left: 10px;
}

#outsorsing .outsors__about p,
#outsorsing .main__advantages p,
#outsorsing .servises p {
  font-size: 1.5em;
  padding: 50px 0 35px;
  color: #2b2b23;
  font-weight: bold;
}

#outsorsing .outsors__about ul li,
#outsorsing .main__advantages ul li,
#outsorsing .servises ul li {
  padding: 0 0 35px 25px;
  font-family: "Roboto-Light";
  font-size: 1.07em;
  line-height: 1.4;
  color: dimgray;
  position: relative;
  text-align: justify;
  letter-spacing: 0.3px;
}

#outsorsing .outsors__about ul li::before,
#outsorsing .main__advantages ul li::before,
#outsorsing .servises ul li::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-left: 9px solid #326594;
  top: 3px;
  left: 0;
}

#outsorsing .outsors__about ul li:last-child,
#outsorsing .main__advantages ul li:last-child,
#outsorsing .servises ul li:last-child {
  border-bottom: 1px solid #d9e1e7;
}

#outsorsing .main__advantages {
  border-bottom: 1px solid #d9e1e7;
  padding: 0 0 25px;
}

#outsorsing .main__advantages-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#outsorsing .main__advantages-items .item {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

#outsorsing .main__advantages-items .item .img {
  border: 1px solid #376997;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  margin-right: 20px;
}

#outsorsing .main__advantages-items .item .img:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#outsorsing .main__advantages-items .item p {
  font-size: 0.9em;
  color: #376997;
  padding: 0;
  max-width: 220px;
  width: 100%;
  font-weight: normal;
}

#outsorsing .main__advantages-items .item:nth-child(1) .img:after {
  content: url(../img/content/outsors/advantages1.png);
}

#outsorsing .main__advantages-items .item:nth-child(2) .img:after {
  content: url(../img/content/outsors/advantages2.png);
}

#outsorsing .main__advantages-items .item:nth-child(2) p {
  max-width: 295px;
}

#outsorsing .main__advantages-items .item:nth-child(3) .img:after {
  content: url(../img/content/outsors/advantages3.png);
}

#outsorsing .main__advantages-items .item:nth-child(4) .img:after {
  content: url(../img/content/outsors/advantages4.png);
}

#outsorsing .main__advantages-items .item:nth-child(4) p {
  max-width: 295px;
}

#outsorsing .servises {
  border-bottom: 1px solid #d9e1e7;
  padding: 0 0 70px;
}

#outsorsing .servises .servises__items .row {
  display: -ms-grid;
  display: grid;
  grid-gap: 7px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 7px;
}

#outsorsing .servises .servises__items .row:nth-child(1) {
  -ms-grid-columns: (267px)[3];
      grid-template-columns: repeat(3, 267px);
}

#outsorsing .servises .servises__items .row:nth-child(2) {
  -ms-grid-columns: 267px 2fr;
      grid-template-columns: 267px 2fr;
}

#outsorsing .servises .servises__items .item {
  padding: 24px 24px 20px;
  border: 1px solid #e4e8ef;
  border-radius: 4px;
  text-align: center;
}

#outsorsing .servises .servises__items .item img {
  margin-bottom: 20px;
}

#outsorsing .servises .servises__items .item p {
  font-size: 0.9em;
  color: #212121;
  padding: 0;
  width: 100%;
  font-weight: normal;
}

#outsorsing .servises .servises__items .item:last-child p {
  max-width: 385px;
  margin: 0 auto;
}

#outsorsing .outsourcing__services p {
  font-size: 1.5em;
  padding: 50px 0 35px;
  color: #2b2b23;
  font-weight: bold;
}

#outsorsing .outsourcing__services ul li {
  padding: 0 0 30px 25px;
  font-family: "Roboto-Light";
  font-size: 1.075em;
  line-height: 1.4;
  color: dimgray;
  position: relative;
  text-align: justify;
}

#outsorsing .outsourcing__services ul li::before {
  content: "1";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #326594;
  color: #326594;
  padding: 2px 6px 0;
  font-size: 12px;
  top: 3px;
  left: 0;
  font-family: "Roboto-Medium";
  background-color: white;
}

#outsorsing .outsourcing__services ul li:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 3px;
  width: 1px;
  height: 100%;
  background-color: #326594;
  z-index: -1;
}

#outsorsing .outsourcing__services ul li:nth-child(2)::before {
  content: "2";
}

#outsorsing .outsourcing__services ul li:nth-child(3)::before {
  content: "3";
}

#outsorsing .outsourcing__services ul li:nth-child(4)::before {
  content: "4";
}

#outsorsing .outsourcing__services ul li:nth-child(4)::after {
  content: none;
}

#outsorsing .back__call {
  border: 1px solid #326594;
  padding: 30px 0 25px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 30px;
}

#outsorsing .back__call p {
  color: #326594;
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 20px;
}

#outsorsing .back__call a {
  display: block;
  width: 225px;
  height: 45px;
  padding: 13px 20px;
  text-align: center;
  text-transform: uppercase;
  color: #456db2;
  background-color: white;
  border-radius: 5px;
  font-size: 0.95em;
  border: 1px solid #456db2;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#outsorsing .back__call a:hover {
  color: white;
  background-color: #456db2;
}

#outsorsing .last__description p {
  font-family: "Roboto-Light";
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 45px;
  color: dimgray;
  font-size: 1.07em;
}

#catalog__articles h1 {
  margin-bottom: 30px;
}

#catalog__articles .catalog__articles-items .item {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 35px 15px 40px;
  border-radius: 4px;
  border-bottom: 1px solid #d9e1e7;
}

#catalog__articles .catalog__articles-items .item .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#catalog__articles .catalog__articles-items .item .link {
  text-align: right;
  margin-top: 15px;
}

#catalog__articles .catalog__articles-items .item .link a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #326594;
}

#catalog__articles .catalog__articles-items .item .link a:hover {
  opacity: 0.8;
}

#catalog__articles .catalog__articles-items .item .item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  position: relative;
  border-radius: 3px;
  margin-right: 20px;
  height: 185px;
  max-width: 235px;
}

#catalog__articles .catalog__articles-items .item .item__img img {
  width: 100%;
  height: 100%;
}

#catalog__articles .catalog__articles-items .item .item__img .statistics {
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100px;
  font-family: "Roboto-Light";
  font-size: 0.95em;
  color: white;
  padding: 4px 0;
  text-align: center;
}

#catalog__articles .catalog__articles-items .item .item__img .statistics span {
  position: relative;
}

#catalog__articles .catalog__articles-items .item .item__img .statistics span::before {
  content: "";
  position: absolute;
}

#catalog__articles .catalog__articles-items .item .item__img .statistics span:nth-child(1) {
  margin: 0 30px 0 20px;
}

#catalog__articles .catalog__articles-items .item .item__img .statistics span:nth-child(1)::before {
  content: url(../img/content/img/Eye.png);
  right: 20px;
}

#catalog__articles .catalog__articles-items .item .item__img .statistics span:nth-child(2)::before {
  content: url(../img/content/img/Comment.png);
  left: -20px;
  top: 3px;
}

#catalog__articles .catalog__articles-items .item .item__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

#catalog__articles .catalog__articles-items .item .item__description h3 {
  font-family: "Roboto-Medium";
  font-weight: bold;
  color: #444444;
  margin-bottom: 20px;
  font-size: 1.25em;
  line-height: 1.2;
  width: 100%;
  padding-right: 100px;
}

#catalog__articles .catalog__articles-items .item .item__description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#catalog__articles .catalog__articles-items .item .item__description p span {
  font-family: "Roboto-Light";
  font-size: 0.875em;
  font-weight: lighter;
  color: #aaaaaa;
}

#catalog__articles .catalog__articles-items .item .item__description .description_text p {
  font-family: "Roboto-Light";
  text-align: justify;
  font-size: 1.075em;
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
}

#catalog__articles .catalog__articles-items .item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

#reviews .head h1 {
  padding: 50px 0;
}

#reviews .head .description {
  font-family: "Roboto-Light";
  text-align: justify;
  font-size: 1.075em;
}

#reviews .reviews__items {
  padding: 0 5px;
  margin-top: 55px;
  border-bottom: 1px solid #d9e1e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#reviews .reviews__items .item {
  width: 100%;
  max-width: 257px;
  padding: 15px;
  margin-bottom: 50px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#reviews .reviews__items .item .img {
  margin-bottom: 20px;
}

#reviews .reviews__items .item .item__description {
  font-size: 1.075em;
  font-weight: bold;
  color: #2b2b23;
}

#reviews .reviews__items .item .item__description p {
  margin-bottom: 10px;
}

#reviews .reviews__items .item .item__description p:nth-child(2) {
  font-family: "Roboto-Light";
  font-size: 0.95rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #656565;
}

#reviews .reviews__items .item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

#contacts {
  font-size: 1.075em;
  text-align: justify;
}

#contacts h1 {
  margin-bottom: 45px;
  padding: 0 20px;
}

#contacts .top__row,
#contacts .center__row,
#contacts .bootom__row {
  padding: 0 20px 75px;
  border-bottom: 1px solid #d9e1e7;
}

#contacts .top__row p,
#contacts .center__row p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  margin-bottom: 25px;
}

#contacts .top__row p span:nth-child(2),
#contacts .center__row p span:nth-child(2) {
  font-family: "Roboto-Light";
  color: dimgray;
}

#contacts .info {
  margin-bottom: 55px;
  padding: 0 20px;
}

#contacts .center__row p {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

#contacts .map {
  padding: 15px 0;
  margin-bottom: 50px;
  text-align: center;
  border-bottom: 1px solid #d9e1e7;
}

#contacts .map a {
  color: #4a70b3;
  font-family: "Roboto-Light";
  position: relative;
  border-bottom: 1px solid #4a70b3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#contacts .map a::before {
  content: url(../img/icon/map_icon.png);
  position: absolute;
  top: 0;
  left: -35px;
}

#contacts .map a:hover {
  border-bottom: 1px solid transparent;
}

#contacts .bootom__row {
  border-bottom: none;
}

#contacts .bootom__row p {
  padding: 55px 0 30px;
}

#contacts .bootom__row p span {
  color: #4a70b3;
}

#contacts .bootom__row ul li {
  font-family: "Roboto-Light";
  color: dimgray;
  margin-bottom: 10px;
}

#contacts .content__form {
  padding: 0 20px;
}

footer .footer__top-row {
  border-top: 1px solid #dee3ed;
}

footer .footer__top-row .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

footer .footer__top-row .conteiner p {
  text-transform: uppercase;
  color: #456db2;
  font-size: 1.25em;
  font-family: "Roboto-Medium";
  font-weight: bold;
}

footer .footer__top-row .conteiner a {
  display: block;
  width: 225px;
  height: 45px;
  padding: 13px 20px;
  text-align: center;
  text-transform: uppercase;
  color: #456db2;
  background-color: white;
  border-radius: 5px;
  font-size: 0.8em;
  border: 1px solid #456db2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .footer__top-row .conteiner a:hover {
  color: white;
  background-color: #456db2;
}

footer .footer__bootom-row {
  background-color: #3b4864;
  padding: 45px 0 35px;
  color: white;
  font-family: "Roboto-Light";
}

footer .footer__bootom-row a {
  color: white;
  font-family: "Roboto-Light";
}

footer .footer__bootom-row .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bootom-row .footer__items .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
}

footer .footer__bootom-row .footer__items .item:nth-child(1) img {
  margin-bottom: 25px;
}

footer .footer__bootom-row .footer__items .item:nth-child(1) a {
  display: block;
  width: 225px;
  height: 45px;
  padding: 13px 0;
  text-align: center;
  text-transform: uppercase;
  color: #94abc6;
  background-color: transparent;
  border-radius: 5px;
  font-size: 0.8em;
  border: 1px solid #94abc6;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .footer__bootom-row .footer__items .item:nth-child(1) a:hover {
  color: white;
  background-color: #456db2;
  border: 1px solid #456db2;
}

footer .footer__bootom-row .footer__items .item:nth-child(2) ul li, footer .footer__bootom-row .footer__items .item:nth-child(3) ul li, footer .footer__bootom-row .footer__items .item:nth-child(4) ul li {
  margin-bottom: 15px;
  font-size: 0.95em;
  max-width: 237px;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .adress,
footer .footer__bootom-row .footer__items .item:nth-child(4) .phone,
footer .footer__bootom-row .footer__items .item:nth-child(4) .mail {
  position: relative;
  font-family: "Roboto-Regular";
  margin-bottom: 30px;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .adress::before,
footer .footer__bootom-row .footer__items .item:nth-child(4) .phone::before,
footer .footer__bootom-row .footer__items .item:nth-child(4) .mail::before {
  content: url(../img/footer_icon/adress_icon.png);
  position: absolute;
  left: -25px;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .adress span,
footer .footer__bootom-row .footer__items .item:nth-child(4) .phone span,
footer .footer__bootom-row .footer__items .item:nth-child(4) .mail span {
  color: #668fd8;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone {
  margin-bottom: 0 !important;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone::before {
  content: url(../img/footer_icon/phone.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social li {
  cursor: pointer;
  margin-right: 15px;
  margin-top: 15px;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social li:nth-child(1) {
  content: url(../img/footer_icon/phone1.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social li:nth-child(1):hover {
  content: url(../img/footer_icon/phone1-active.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social li:nth-child(2) {
  content: url(../img/footer_icon/wats-up.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social li:nth-child(2):hover {
  content: url(../img/footer_icon/wats-up-active.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social li:nth-child(3) {
  content: url(../img/footer_icon/telega.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .phone .social li:nth-child(3):hover {
  content: url(../img/footer_icon/telega-active.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail {
  margin: 0 !important;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail a {
  color: #668fd8;
  font-family: "Georgia";
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail::before {
  content: url(../img/footer_icon/Message.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li {
  cursor: pointer;
  margin-right: 15px;
  margin-top: 15px;
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(1) {
  content: url(../img/footer_icon/vk.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(1):hover {
  content: url(../img/footer_icon/vk-active.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(2) {
  content: url(../img/footer_icon/facebook.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(2):hover {
  content: url(../img/footer_icon/facebook-active.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(3) {
  content: url(../img/footer_icon/insta.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(3):hover {
  content: url(../img/footer_icon/insta-active.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(4) {
  content: url(../img/footer_icon/ya.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(4):hover {
  content: url(../img/footer_icon/ya-active.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(5) {
  content: url(../img/footer_icon/youtube.png);
}

footer .footer__bootom-row .footer__items .item:nth-child(4) .mail .social li:nth-child(5):hover {
  content: url(../img/footer_icon/youtube-active.png);
}

footer .signature {
  font-size: 0.95em;
  font-family: "Roboto-Light";
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 880px) {
  .burger {
    display: block;
    width: 40px;
    height: 23px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 5;
    cursor: pointer;
  }
  .burger span {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    left: 0;
    width: 100%;
    height: 5px;
    top: 9px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .burger::before,
  .burger::after {
    content: "";
    background-color: black;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
  .menu__items {
    display: block;
    position: fixed;
    width: 95%;
    z-index: 4;
    top: 7px;
    left: 10px;
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(252, 252, 252, 0.9);
    border-radius: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .menu__items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
  }
  .menu__items ul li {
    margin: 0 !important;
    width: 100%;
    padding: 7px 0;
  }
  .menu__items ul li a {
    font-size: 1rem;
    padding: 12px 0;
    font-weight: bold;
  }
  .menu__items.active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */