@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Georgia/Georgia.ttf") format("truetype");
}
