footer {
  text-align: left;
  .footer__top-row {
    border-top: 1px solid $color_search-color;
    margin-top: 50px;
    .conteiner {
      @include flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 0;
      p {
        padding: 0 15px;
        text-transform: uppercase;
        color: $color_top_row-color;
        font-size: 1.3em;
        font-family: "Roboto-Medium";
        font-weight: bold;
        letter-spacing: 0.7px;
      }
      a {
        display: block;
        width: 225px;
        height: 45px;
        padding: 13px 20px;
        text-align: center;
        text-transform: uppercase;
        color: $color_top_row-color;
        background-color: $color_white;
        border-radius: 5px;
        font-size: 0.8em;
        border: 1px solid $color_top_row-color;
        @include transition;
        &:hover {
          color: $color_white;
          background-color: $color_top_row-color;
        }
      }
    }
  }
  .footer__bootom-row {
    background-color: $color_footer-bg;
    padding: 45px 0 35px;
    color: $color_footer-color;
    font-weight: 300;
    a {
      color: $color_footer-color;
      font-weight: 300;
    }
    .footer__items {
      @include flex;
      justify-content: space-between;
      padding: 0 15px;
      .item {
        flex: 0 1 24%;
        &:nth-child(1) {
          img {
            margin-bottom: 30px;
          }
          a {
            display: block;
            width: 225px;
            height: 45px;
            padding: 13px 0;
            text-align: center;
            text-transform: uppercase;
            color: $color_footer-button;
            background-color: transparent;
            border-radius: 5px;
            font-size: 0.8em;
            border: 1px solid $color_footer-button;
            @include transition;
            &:hover {
              color: $color_white;
              background-color: $color_footer-button-hover-bg;
              border: 1px solid $color_footer-button-hover-bg;
            }
          }
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          ul {
            li {
              margin-bottom: 12px;
              font-size: 0.95em;
              max-width: 237px;
            }
          }
        }
        &:nth-child(2) {
          ul {
            margin: 5px 0 0 65px;
          }
        }
        &:nth-child(3) {
          ul {
            margin-top: 5px;
          }
        }
        &:nth-child(4) {
          ul {
            margin-top: 5px;
          }
          .adress,
          .phone,
          .mail {
            position: relative;
            font-family: "Roboto-Regular";
            &::before {
              content: url(../img/footer_icon/adress_icon.png);
              position: absolute;
              left: -20px;
            }
            span {
              color: $color_footer-adress-span;
            }
          }
          .adress {
            margin-bottom: 20px;
          }
          .phone {
            margin-bottom: 0 !important;
            &::before {
              content: url(../img/footer_icon/phone.png);
            }
            .social {
              display: flex;
              a {
                display: block;
                margin-right: 15px;
                margin-top: 15px;
                &:nth-child(1) {
                  li {
                    content: url(../img/footer_icon/phone1.png);
                    &:hover {
                      content: url(../img/footer_icon/phone1-active.png);
                    }
                  }
                }
                &:nth-child(2) {
                  li {
                    content: url(../img/footer_icon/wats-up.png);
                    &:hover {
                      content: url(../img/footer_icon/wats-up-active.png);
                    }
                  }
                }
                &:nth-child(3) {
                  li {
                    content: url(../img/footer_icon/telega.png);
                    &:hover {
                      content: url(../img/footer_icon/telega-active.png);
                    }
                  }
                }
              }
            }
          }
          .mail {
            margin-bottom: 0;
            a {
              color: $color_footer-adress-span;
              font-family: "Georgia";
            }
            &::before {
              content: url(../img/footer_icon/Message.png);
            }
            .social {
              display: flex;
              li {
                margin-bottom: 0 !important;
              }
              a {
                display: block;
                margin-right: 15px;
                margin-top: 15px;
                &:nth-child(1) {
                  li {
                    content: url(../img/footer_icon/vk.png);
                    &:hover {
                      content: url(../img/footer_icon/vk-active.png);
                    }
                  }
                }
                &:nth-child(2) {
                  li {
                    content: url(../img/footer_icon/facebook.png);
                    &:hover {
                      content: url(../img/footer_icon/facebook-active.png);
                    }
                  }
                }
                &:nth-child(3) {
                  li {
                    content: url(../img/footer_icon/insta.png);
                    &:hover {
                      content: url(../img/footer_icon/insta-active.png);
                    }
                  }
                }
                &:nth-child(4) {
                  li {
                    content: url(../img/footer_icon/ya.png);
                    &:hover {
                      content: url(../img/footer_icon/ya-active.png);
                    }
                  }
                }
                &:nth-child(5) {
                  li {
                    content: url(../img/footer_icon/youtube.png);
                    &:hover {
                      content: url(../img/footer_icon/youtube-active.png);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .signature {
    font-size: 0.95em;
    font-weight: 300;
    padding: 0 12px;
  }
}
