main {
  .conteiner {
    @include flex;
    justify-content: space-between;
  }
  .left__sidebar {
    flex: 0 1 25.358%;
  }
  .content {
    flex: 0 1 72.858%;
  }
  .left__sidebar-link {
    a {
      display: block;
      text-transform: uppercase;
      color: $color_white;
      font-size: 1.25em;
      background-color: $color_cabinetLink-bg;
      border-radius: 5px;
      padding: 15px;
      position: relative;
      @include transition;
      margin-bottom: 20px;
      &::after {
        content: url(../img/left_sidebar/triangre.png)
          url(../img/left_sidebar/triangre.png);
        background-color: $color_cabinetLink-after;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding: 26px 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:hover {
        opacity: 0.85;
        @include boxShadow;
      }
    }
  }
  .programms {
    margin-bottom: 20px;
    li {
      padding: 0 0 0 65px;
      height: 56px;
      width: 100%;
      border: 1px solid $color_search-color;
      border-radius: 5px;
      display: flex;
      align-items: center;
      @include transition;
      cursor: pointer;
      a {
        font-size: 1.065em;
        line-height: 1.2;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: -50px;
          top: 5px;
        }
      }
      &:nth-child(1) {
        a:before {
          content: url(../img/left_sidebar/Book.png);
        }
        &:hover {
          a:before {
            content: url(../img/left_sidebar/Book-active.png);
          }
        }
      }
      &:nth-child(2) {
        a:before {
          content: url(../img/left_sidebar/Teacher.png);
          top: 0;
        }
        &:hover {
          a:before {
            content: url(../img/left_sidebar/Teacher-active.png);
          }
        }
      }
      &:nth-child(3) {
        a:before {
          content: url(../img/left_sidebar/money.png);
          top: 0;
        }
        &:hover {
          a:before {
            content: url(../img/left_sidebar/money-active.png);
          }
        }
      }
      &:nth-child(4) {
        a:before {
          content: url(../img/left_sidebar/chat.png);
        }
        &:hover {
          a:before {
            content: url(../img/left_sidebar/chat-active.png);
          }
        }
      }
      &:nth-child(5) {
        a:before {
          content: url(../img/left_sidebar/certificate.png);
        }
        &:hover {
          a:before {
            content: url(../img/left_sidebar/certificate-active.png);
          }
        }
      }
      &:hover {
        @include boxShadow;
        a {
          color: $color_cabinetLink-hover-before;
        }
      }
    }
  }
  .our__activity,
  .popular {
    background-color: $color_sidbar_h2-bg;
    border-radius: 5px;
    h2 {
      font-size: 1.375em;
      height: 70px;
      text-transform: uppercase;
      color: $color_sidbar_h2;
      padding: 20px 15px;
    }
    ul {
      background-color: $color_sidbar_h2-bg;
      border-radius: 5px;
      margin-bottom: 20px;
      padding-bottom: 0.3px;
      li {
        background-color: $color_white;
        height: 60px;
        padding-left: 35px;
        margin: 1px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        @include transition;
        a {
          color: $color_sidbar_link;
          position: relative;
          &:before {
            content: url(../img/left_sidebar/Layer.png);
            margin: 0 15px 0 -20px;
            position: absolute;
          }
        }
        &:hover {
          @include boxShadow;
          transform: scaleY(1.001);
          a {
            &:before {
              content: url(../img/left_sidebar/Layer-hover.png);
            }
          }
        }
      }
    }
  }
  .our__activity {
    ul {
      li {
        &:nth-child(5) {
          a {
            &:before {
              top: 12px;
            }
          }
        }
      }
    }
  }
  .additional__programs {
    ul {
      li {
        &:nth-child(3),
        &:nth-child(8) {
          a {
            &:before {
              top: 12px;
            }
          }
        }
      }
    }
  }
  .social {
    margin-bottom: 20px;
    border: 1px solid $color_sidbar_h2-bg;
    border-radius: 5px;
    h2 {
      font-size: 1.375em;
      height: 80px;
      text-transform: uppercase;
      color: $color_sidbar_h2;
      padding: 10px 15px;
      background-color: $color_sidbar_h2-bg;
      border-radius: 5px;
    }
    ul {
      @include flex;
      justify-content: space-evenly;
      align-items: center;
      height: 80px;
      a {
        &:nth-child(1) {
          li {
            &::after {
              content: url(../img/left_sidebar/vk.png);
            }
          }
        }
        &:nth-child(2) {
          li {
            &::after {
              content: url(../img/left_sidebar/facebook.png);
            }
          }
        }
        &:nth-child(3) {
          li {
            &::after {
              content: url(../img/left_sidebar/insta.png);
            }
          }
        }
        &:nth-child(4) {
          li {
            &::after {
              content: url(../img/left_sidebar/ya.png);
            }
          }
        }
        &:nth-child(5) {
          li {
            &::after {
              content: url(../img/left_sidebar/youtube.png);
            }
          }
        }
        &:hover {
          &:nth-child(1) {
            li {
              &::after {
                content: url(../img/left_sidebar/vk-active.png);
              }
            }
          }
          &:nth-child(2) {
            li {
              &::after {
                content: url(../img/left_sidebar/facebook-active.png);
              }
            }
          }
          &:nth-child(3) {
            li {
              &::after {
                content: url(../img/left_sidebar/insta-active.png);
              }
            }
          }
          &:nth-child(4) {
            li {
              &::after {
                content: url(../img/left_sidebar/ya-active.png);
              }
            }
          }
          &:nth-child(5) {
            li {
              &::after {
                content: url(../img/left_sidebar/youtube-active.png);
              }
            }
          }
        }
      }
    }
  }
  .popular {
    h2 {
      height: 85px;
      padding: 14px 15px;
    }
    ul {
      li {
        &:nth-child(2) {
          a {
            &:before {
              top: 12px;
            }
          }
        }
      }
    }
  }
  .apply__education {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: $color_white;
      text-transform: uppercase;
      background-image: url(../img/left_sidebar/get_request.png);
      background-repeat: no-repeat;
      border-radius: 5px;
      width: 100%;
      max-width: 278px;
      height: 118px;
      position: relative;
      font-weight: bold;
      font-size: 1.275em;
      @include transition;
      span {
        margin-left: -13px;
        &:after {
          content: url(../img/left_sidebar/triangre.png)
            url(../img/left_sidebar/triangre.png);
          transform: rotate(90deg);
          margin: 0 0 0 8px;
          position: absolute;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        display: block;
        border-radius: 5px;
        border: 1px solid $color_white;
      }
      &:hover {
        @include boxShadow;
        opacity: 0.8;
      }
    }
  }
  .program__items {
    margin: 40px 0;
    .item__row {
      display: grid;
      grid-template-rows: 1fr;
      grid-gap: 15px;
      margin-bottom: 15px;
      &:nth-child(1) {
        grid-template-columns: 2fr 1fr;
      }
      &:nth-child(2),
      &:nth-child(5) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &:nth-child(3) {
        .item {
          &:nth-child(1) {
            grid-area: a;
            height: 100%;
            max-width: 262px;
            text-align: center;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 10px 20px;
          }
          &:nth-child(2) {
            grid-area: b;
          }
          &:nth-child(3) {
            grid-area: c;
          }
        }
        grid-template-areas:
          "a b b"
          "a c c";
      }
      &:nth-child(4) {
        grid-template-columns: 2fr 1fr;
      }
      .item {
        padding: 20px 10px;
        border-radius: 5px;
        height: 195px;
        border: 1px solid $color_sidbar_h2-bg;
        display: flex;
        align-items: center;
        @include transition;
        .img {
          width: 100%;
          max-width: 65px;
          margin-right: 10px;
        }
        .description {
          width: 100%;
          h2 {
            font-family: "Roboto-Medium";
            font-size: 1.375em;
            margin-bottom: 10px;
            line-height: 1;
            font-weight: normal;
          }
          p {
            font-weight: 300;
            color: $color_black;
            opacity: 0.85;
            margin-bottom: 10px;
          }
          a {
            font-weight: 300;
            font-size: 0.95em;
            color: $color_content_color-link;
            opacity: 0.85;
            @include transition;
          }
        }
        &:hover {
          @include boxShadow;
          .description {
            a {
              color: $color_cabinetLink-hover-before;
            }
          }
        }
      }
    }
  }
  .about__us,
  .why,
  .article {
    margin-bottom: 50px;
    padding: 0 20px;
    h2 {
      font-size: 2em;
      color: $color_sidbar_h2;
      margin: 10px 0 20px;
    }
    h3 {
      font-size: 1.25em;
      margin-bottom: 40px;
      color: $color_content_h3;
    }
    p {
      color: $color_content_about-p;
      font-size: 1.05em;
      text-align: justify;
      line-height: 1.412;
      font-weight: 300;
      margin-bottom: 25px;
    }
    a {
      @include transition;
      color: $color_cabinetLink-hover-before;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .why {
    h2 {
      margin-bottom: 35px;
    }
    .img__items {
      @include flex;
      justify-content: space-between;
      .item {
        border-right: 1px solid $color_sidbar_h2-bg;
        @include flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 40px 0;
        &:nth-child(4) {
          border-right: none;
        }
        span {
          font-weight: bold;
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }
  .article {
    .head,
    .head__link {
      @include flex;
      justify-content: space-between;
      align-items: center;
    }
    .head__link {
      a {
        padding: 14px 19px;
        font-size: 0.95em;
        font-weight: 300;
        border-radius: 3px;
        color: $color_article_link;
        @include transition;
        &:hover {
          background-color: $color_article_link;
          color: $color_white;
        }
      }
    }
    .article__items {
      margin-top: 30px;
      @include flex;
      justify-content: space-between;
      .item {
        flex: 0 1 30%;
        .item__img {
          position: relative;
          border-radius: 3px;
          margin-bottom: 10px;
          .statistics {
            position: absolute;
            border-radius: 3px;
            bottom: 0;
            right: 0;
            background-color: $color_article_statistics;
            width: 100px;
            font-weight: 300;
            font-size: 0.95em;
            color: $color_white;
            padding: 4px 0;
            text-align: center;
            span {
              position: relative;
              &::before {
                content: "";
                position: absolute;
              }
              &:nth-child(1) {
                margin: 0 30px 0 20px;
                &::before {
                  content: url(../img/content/img/Eye.png);
                  right: 20px;
                }
              }
              &:nth-child(2) {
                &::before {
                  content: url(../img/content/img/Comment.png);
                  left: -20px;
                  top: 3px;
                }
              }
            }
          }
        }
        .item__description {
          h3 {
            font-family: "Roboto-Medium";
            font-weight: bold;
            color: $color_article_p;
            margin-bottom: 10px;
            font-size: 1em;
            line-height: 1.2;
          }
          p {
            display: flex;
            justify-content: space-between;
            span {
              font-weight: 300;
              font-size: 0.875em;
              font-weight: lighter;
              color: $color_content_color-link;
            }
          }
        }
      }
    }
  }
}
