// #administrative__responsibility
#administrative__responsibility {
  h1 {
    margin-bottom: 40px;
  }
  p {
    font-size: 1.5em;
    padding: 50px 0 35px;
    color: $color_p;
  }
  ul.first__content {
    li {
      padding: 0 0 35px 25px;
      font-family: "Roboto-Light";
      font-size: 1.05em;
      line-height: 1.4;
      color: rgb(105, 105, 105);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border: 8px solid transparent;
        border-left: 9px solid rgb(50, 101, 148);
        top: 3px;
        left: 0;
      }
      &:nth-child(2n) {
        font-family: "Roboto-Regular";
        color: rgb(39, 38, 38);
        padding-bottom: 60px;
        &::before {
          content: none;
        }
      }
    }
  }
  hr {
    background-color: rgb(217, 225, 231);
  }
  ul.second__content {
    li {
      padding: 0 0 35px 25px;
      font-family: "Roboto-Light";
      font-size: 1.05em;
      line-height: 1.4;
      color: rgb(105, 105, 105);
      position: relative;

      &::before {
        content: "1";
        position: absolute;
        border-radius: 50%;
        border: 1px solid rgb(50, 101, 148);
        color: rgb(50, 101, 148);
        padding: 2px 6px 0;
        font-size: 12px;
        top: 3px;
        left: 0;
        font-family: "Roboto-Medium";
        background-color: $color_white;
      }
      &:after {
        content: "";
        position: absolute;
        left: 10px;
        top: 3px;
        width: 1px;
        height: 100%;
        background-color: rgb(50, 101, 148);
        z-index: -1;
      }
      &:nth-child(2) {
        &::before {
          content: "2";
        }
      }
      &:nth-child(3) {
        &::before {
          content: "3";
        }
        &::after {
          content: none;
        }
      }
    }
  }
}
// arhiv

#arhiv {
  @include info;
  .head {
    display: flex;
    align-items: center;
    height: 76px;
    background-color: rgb(246, 247, 249);
    border-radius: 3px;
    position: relative;
    margin: 3px 0 30px;
    &::before {
      content: url(../img/content/arhiv/icon_pseudo.png);
      position: absolute;
    }
    &::after {
      content: url(../img/content/arhiv/header_icon.png);
      position: absolute;
      left: 15px;
    }
    h1 {
      padding-left: 115px;
      position: relative;
    }
  }
  .search {
    padding: 0 15px 30px;
    width: 100%;
    form {
      position: relative;
      input {
        @include input;
        padding: 8px 13px;
        @include transition;
        &::placeholder {
          color: $color_search-color;
          font-size: 0.9em;
        }
        &:focus {
          @include boxShadow-input;
        }
      }
      button {
        position: absolute;
        background-color: transparent;
        top: 9px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
  .load__items {
    .item {
      @include flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgb(217, 225, 231);
      height: 150px;
      width: 100%;
      padding: 0 20px 0 60px;
      border-radius: 5px;
      @include transition;
      &:last-child {
        border-bottom: 1px solid rgb(217, 225, 231);
      }
      &:hover {
        @include boxShadow;
        .download__btn {
          a {
            background-color: rgb(69, 109, 178);
            color: $color_white;
            &::after {
              content: url(../img/content/arhiv/load_btn-active.png);
            }
          }
        }
      }
      .item-name {
        position: relative;
        p {
          color: rgb(63, 63, 63);
          font-size: 1.05em;
          width: 100%;
          max-width: 565px;
        }
        &::before {
          content: url(../img/content/arhiv/icon_item.png);
          position: absolute;
          left: -40px;
          top: 0;
        }
      }
      .download__btn {
        a {
          display: block;
          width: 100%;
          height: 100%;
          border: 1px solid rgb(69, 109, 178);
          border-radius: 5px;
          background-color: $color_white;
          color: rgb(69, 109, 178);
          position: relative;
          padding: 14px 45px 13px 25px;
          text-transform: uppercase;
          font-size: 0.9em;
          @include transition;
          &::after {
            content: url(../img/content/arhiv/load_btn.png);
            position: absolute;
            top: 11px;
            right: 13px;
          }
        }
      }
    }
  }
}
// content__form
.content__form {
  form {
    padding: 25px 30px 30px;
    background-color: rgb(247, 249, 252);
    border: 1px solid rgb(217, 225, 231);
    border-radius: 5px;
    .row {
      @include flex;
      justify-content: space-between;
    }
    .btn {
      text-align: center;
    }
    input {
      @include input;
      max-width: 340px;
      height: 42px;
      background-color: $color_white;
      font-family: "Georgia";
      padding: 10px 15px;
      border: 1px solid rgb(217, 225, 231);
      margin-bottom: 25px;
      @include transition;
      &::placeholder {
        color: rgb(105, 105, 105);
        font-family: "Georgia";
      }
      &:focus {
        border-color: $color_modal-input-submit;
        &::placeholder {
          color: $color_black;
        }
      }
      &[type="checkbox"] {
        width: 10px;
        height: 10px;
        margin-bottom: 0;
        margin-right: 15px;
      }
      &[type="submit"] {
        max-width: 230px;
        border-color: rgb(69, 109, 178);
        color: rgb(69, 109, 178);
        background-color: $color_white;
        text-transform: uppercase;
        height: 45px;
        font-size: 0.9em;
        @include transition;
        cursor: pointer;
        margin-bottom: 0;
        &:hover {
          color: $color_white;
          background-color: rgb(69, 109, 178);
        }
      }
    }
  }
  label[for="check"] {
    background-color: rgb(238, 241, 247);
    color: rgb(177, 186, 198);
    max-width: 340px;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    font-family: "Georgia";
    padding: 10px 16px;
  }
}
// outsorsing
#outsorsing {
  .head {
    h1 {
      padding: 35px 0 50px;
    }
    p {
      font-family: "Roboto-Light";

      line-height: 1.4;
      margin-bottom: 45px;
      color: $color_black;
      font-size: 1.07em;
    }
    .text {
      color: rgb(105, 105, 105);
    }
  }
  .price {
    border-top: 1px solid rgb(217, 225, 231);
    border-bottom: 1px solid rgb(217, 225, 231);
    padding: 40px 0;
    margin-bottom: 10px;
    p {
      font-family: "Roboto-Medium";
      font-size: 1.75em;
      color: rgb(33, 33, 33);
      span {
        font-family: "Roboto-Regular";
        font-size: 1.875rem;
        color: rgb(47, 82, 142);
        &:nth-child(2) {
          font-size: 1rem;
          color: rgba(33, 33, 33, 0.74);
          margin-left: 10px;
        }
      }
    }
  }
  .outsors__about,
  .main__advantages,
  .servises {
    p {
      font-size: 1.5em;
      padding: 50px 0 35px;
      color: $color_p;
      font-weight: bold;
    }
    ul {
      li {
        padding: 0 0 35px 25px;
        font-family: "Roboto-Light";
        font-size: 1.07em;
        line-height: 1.4;
        color: rgb(105, 105, 105);
        position: relative;

        letter-spacing: 0.3px;
        &::before {
          content: "";
          position: absolute;
          border: 8px solid transparent;
          border-left: 9px solid rgb(50, 101, 148);
          top: 3px;
          left: 0;
        }
        &:last-child {
          border-bottom: 1px solid rgb(217, 225, 231);
        }
      }
    }
  }
  .main__advantages {
    border-bottom: 1px solid rgb(217, 225, 231);
    padding: 0 0 25px;
    &-items {
      @include flex;
      justify-content: space-between;
      align-items: center;
      .item {
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        .img {
          border: 1px solid rgb(55, 105, 151);
          border-radius: 50%;
          width: 80px;
          height: 80px;
          position: relative;
          margin-right: 20px;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        p {
          font-size: 0.9em;
          color: rgb(55, 105, 151);
          padding: 0;
          max-width: 220px;
          width: 100%;
          font-weight: normal;
        }
        &:nth-child(1) {
          .img {
            &:after {
              content: url(../img/content/outsors/advantages1.png);
            }
          }
        }
        &:nth-child(2) {
          .img {
            &:after {
              content: url(../img/content/outsors/advantages2.png);
            }
          }
          p {
            max-width: 295px;
          }
        }
        &:nth-child(3) {
          .img {
            &:after {
              content: url(../img/content/outsors/advantages3.png);
            }
          }
        }
        &:nth-child(4) {
          .img {
            &:after {
              content: url(../img/content/outsors/advantages4.png);
            }
          }
          p {
            max-width: 295px;
          }
        }
      }
    }
  }
  .servises {
    border-bottom: 1px solid rgb(217, 225, 231);
    padding: 0 0 70px;
    .servises__items {
      .row {
        display: grid;
        grid-gap: 7px;
        grid-template-rows: 1fr;
        margin-bottom: 7px;
        &:nth-child(1) {
          grid-template-columns: repeat(3, 267px);
        }
        &:nth-child(2) {
          grid-template-columns: 267px 2fr;
        }
      }
      .item {
        padding: 24px 24px 20px;
        border: 1px solid rgb(228, 232, 239);
        border-radius: 4px;
        text-align: center;
        img {
          margin-bottom: 20px;
        }
        p {
          font-size: 0.9em;
          color: rgb(33, 33, 33);
          padding: 0;
          width: 100%;
          font-weight: normal;
        }
        &:last-child {
          p {
            max-width: 385px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .outsourcing__services {
    p {
      font-size: 1.5em;
      padding: 50px 0 35px;
      color: $color_p;
      font-weight: bold;
    }
    ul {
      li {
        padding: 0 0 30px 25px;
        font-family: "Roboto-Light";
        font-size: 1.075em;
        line-height: 1.4;
        color: rgb(105, 105, 105);
        position: relative;

        &::before {
          content: "1";
          position: absolute;
          border-radius: 50%;
          border: 1px solid rgb(50, 101, 148);
          color: rgb(50, 101, 148);
          padding: 2px 6px 0;
          font-size: 12px;
          top: 3px;
          left: 0;
          font-family: "Roboto-Medium";
          background-color: $color_white;
        }
        &:after {
          content: "";
          position: absolute;
          left: 10px;
          top: 3px;
          width: 1px;
          height: 100%;
          background-color: rgb(50, 101, 148);
          z-index: -1;
        }
        &:nth-child(2) {
          &::before {
            content: "2";
          }
        }
        &:nth-child(3) {
          &::before {
            content: "3";
          }
        }
        &:nth-child(4) {
          &::before {
            content: "4";
          }
          &::after {
            content: none;
          }
        }
      }
    }
  }
  .back__call {
    border: 1px solid rgb(50, 101, 148);
    padding: 30px 0 25px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px;
    p {
      color: rgb(50, 101, 148);
      font-size: 1.25em;
      line-height: 1.4;
      margin-bottom: 20px;
    }
    a {
      display: block;
      width: 225px;
      height: 45px;
      padding: 13px 20px;
      text-align: center;
      text-transform: uppercase;
      color: $color_top_row-color;
      background-color: $color_white;
      border-radius: 5px;
      font-size: 0.95em;
      border: 1px solid $color_top_row-color;
      margin: 0 auto;
      @include transition;
      &:hover {
        color: $color_white;
        background-color: $color_top_row-color;
      }
    }
  }
  .last__description {
    p {
      font-family: "Roboto-Light";

      line-height: 1.4;
      margin-bottom: 45px;
      color: rgb(105, 105, 105);
      font-size: 1.07em;
    }
  }
}

// article
#catalog__articles {
  h1 {
    margin-bottom: 30px;
  }
  .catalog__articles-items {
    .item {
      @include transition;
      padding: 35px 15px 40px;
      border-radius: 4px;
      border-bottom: 1px solid rgb(217, 225, 231);
      .flex {
        @include flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }
      .link {
        text-align: right;
        margin-top: 15px;
        a {
          @include transition;
          color: $color_cabinetLink-hover-before;

          &:hover {
            opacity: 0.8;
          }
        }
      }
      .item__img {
        flex: 0 1 28%;
        position: relative;
        border-radius: 3px;
        margin-right: 20px;
        height: 185px;
        max-width: 235px;
        img {
          width: 100%;
          height: 100%;
        }
        .statistics {
          position: absolute;
          border-radius: 3px;
          bottom: 0;
          right: 0;
          background-color: $color_article_statistics;
          width: 100px;
          font-family: "Roboto-Light";
          font-size: 0.95em;
          color: $color_white;
          padding: 4px 0;
          text-align: center;
          span {
            position: relative;
            &::before {
              content: "";
              position: absolute;
            }
            &:nth-child(1) {
              margin: 0 30px 0 20px;
              &::before {
                content: url(../img/content/img/Eye.png);
                right: 20px;
              }
            }
            &:nth-child(2) {
              &::before {
                content: url(../img/content/img/Comment.png);
                left: -20px;
                top: 3px;
              }
            }
          }
        }
      }
      .item__description {
        flex: 1 1 70%;
        h3 {
          font-family: "Roboto-Medium";
          font-weight: bold;
          color: $color_article_p;
          margin-bottom: 20px;
          font-size: 1.25em;
          line-height: 1.2;
          width: 100%;
          padding-right: 100px;
        }
        p {
          display: flex;
          justify-content: space-between;
          span {
            font-family: "Roboto-Light";
            font-size: 0.875em;
            font-weight: lighter;
            color: $color_content_color-link;
          }
        }
        .description_text {
          p {
            font-family: "Roboto-Light";

            font-size: 1.075em;
            margin-top: 20px;
            width: 100%;
            max-width: 100%;
          }
        }
      }
      &:hover {
        @include boxShadow;
      }
    }
  }
}
// reviews
#reviews {
  .head {
    h1 {
      padding: 50px 0;
    }
    .description {
      font-family: "Roboto-Light";

      font-size: 1.075em;
    }
  }
  .reviews__items {
    padding: 0 5px;
    margin-top: 55px;
    border-bottom: 1px solid rgb(217, 225, 231);
    @include flex;
    justify-content: space-between;
    .item {
      width: 100%;
      max-width: 257px;
      padding: 15px;
      margin-bottom: 50px;
      border-radius: 4px;
      @include transition;
      .img {
        margin-bottom: 20px;
      }
      .item__description {
        font-size: 1.075em;
        font-weight: bold;
        color: rgb(43, 43, 35);
        p {
          margin-bottom: 10px;
          &:nth-child(2) {
            font-family: "Roboto-Light";
            font-size: 0.95rem;
            font-weight: normal;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: rgb(101, 101, 101);
          }
        }
      }
      &:hover {
        @include boxShadow;
      }
    }
  }
}
// programms
#programms {
  @include info;
  .head {
    display: flex;
    align-items: center;
    height: 76px;
    background-color: rgb(246, 247, 249);
    border-radius: 3px;
    position: relative;
    margin: 3px 0 30px;
    &::before {
      content: url(../img/content/arhiv/icon_pseudo.png);
      position: absolute;
    }
    &::after {
      content: url(../img/programms/programms.png);
      position: absolute;
      left: 15px;
    }
    h1 {
      padding-left: 115px;
      position: relative;
    }
  }
  .programms__items,
  .content__form {
    padding: 0 20px;
  }
  .info {
    padding: 0 20px 50px;
    border-top: none;
  }
  .item__category {
    .category-name {
      @include flex;
      align-items: center;
      padding: 4px 16px 4px;
      background-color: rgb(247, 249, 252);
      border-radius: 4px;
      border: 1px solid rgb(217, 225, 231);
      margin: 0 -20px 40px -20px;
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 14px;
      }
      h2 {
        color: rgb(50, 101, 148);
        font-size: 1.25em;
        font-family: "Roboto-Medium";
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1;
        margin-top: 0;
      }
    }
    .category-description {
      p {
        font-family: "Roboto-Light";
        font-size: 1.075em;
        color: rgb(58, 58, 58);
        line-height: 1.4;
        margin-bottom: 40px;
      }
    }
  }
  .sub-category {
    .item {
      display: grid;
      grid-template-columns: 3fr 105px 1fr;
      align-items: center;
      border-top: 1px solid rgb(217, 225, 231);
      margin: 0 -20px 0 -20px;
      padding: 20px;
      height: 125px;
      @include transition;
      border-radius: 4px;
      &:hover {
        @include boxShadow;
        .subcategory__name {
          h3 {
            &::before {
              border-left-color: rgb(69, 109, 178);
            }
          }
        }
        .download__btn {
          a {
            background-color: rgb(69, 109, 178);
            color: $color_white;
            &::after {
              content: url(../img/content/arhiv/load_btn-active.png);
            }
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid rgb(217, 225, 231);
        margin-bottom: 70px;
      }
      .subcategory__name {
        h3 {
          font-size: 1.075em;
          font-weight: normal;
          color: rgb(39, 38, 38);
          padding-left: 32px;
          position: relative;
          max-width: 430px;
          text-align: left;
          &::before {
            content: "";
            position: absolute;
            @include transition;
            top: 5px;
            left: 0;
            border: 8px solid transparent;
            border-left: 9px solid rgb(209, 215, 220);
          }
        }
      }
      .price {
        span {
          color: rgb(78, 120, 160);
          font-size: 1.075em;
          font-weight: bold;
        }
      }
      .download__btn {
        a {
          display: block;
          width: 225px;
          height: 45px;
          padding: 13px 16px;
          border: 1px solid rgb(69, 109, 178);
          border-radius: 5px;
          background-color: $color_white;
          color: rgb(69, 109, 178);
          position: relative;
          text-transform: uppercase;
          font-size: 0.9em;
          @include transition;
          &::after {
            content: url(../img/content/arhiv/load_btn.png);
            position: absolute;
            top: 11px;
            right: 13px;
          }
        }
      }
    }
  }
  .content__form {
    margin-bottom: 100px;
  }
}
