@import "_mixin";
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto-Regular";
  font-size: 16px;
  text-align: justify;
}
.conteiner {
  width: $width;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: $color_black;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  border: 0;
  max-width: 100%;
}
.uk-link:hover,
a:hover {
  text-decoration: none;
}
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}

h1 {
  font-family: "Roboto-Medium";
  font-size: 2em;
  color: $color_sidbar_h1;
}

// breadcumbs
#breadcumbs {
  padding: 23px 0;
  margin-bottom: 40px;
  font-size: 0.95em;
  background-color: $color_bredcumbs-bg;
  border-bottom: 1px solid $color_bredcumbs-border;
  border-top: 1px solid $color_bredcumbs-border;
  ul {
    padding: 0 10px;
    @include flex;
    li {
      margin-right: 30px;
      position: relative;
      &:first-child {
        a {
          &::before {
            content: url(../img/icon/home-breadcumbs.png);
            margin-right: 10px;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        border: 5px solid transparent;
        border-left: 6px solid $color_bredcumbs-triangle;
        top: 4px;
        right: -25px;
      }
      a {
        white-space: nowrap;
        color: $color_bredcumbs-color;
        @include transition;
        &:hover {
          color: $color_bredcumbs-triangle;
        }
      }
      &:last-child {
        &::after {
          content: none;
        }
        a {
          color: $color_bredcumbs-triangle;
          border-bottom: 1px solid $color_bredcumbs-triangle;
          &:hover {
            opacity: 1;
            cursor: inherit;
          }
        }
      }
    }
  }
}

// pagination
#pagination {
  padding: 40px 0;
  ul {
    @include flex;
    justify-content: center;
    li {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
      background-color: rgb(246, 247, 249);
      border: 1px solid rgb(239, 242, 245);
      border-radius: 4px;
      font-family: "Roboto-Light";
      @include transition;
      margin: 0 5px;
      padding: 5px 0px;
      text-align: center;
      &:hover {
        @include boxShadow;
        background-color: $color_white;
        border: 1px solid transparent;
      }
      &:first-child,
      &:last-child {
        width: 0;
        height: 0;
        border: none;
        &::after {
          content: url(../img/icon/pagination__next.png);
          position: absolute;
          top: 50%;
          left: -20px;
        }
      }
      &:last-child {
        &::after {
          content: url(../img/icon/pagination__next.png);
          transform: rotate(180deg);
          right: -30px;
          left: 0;
        }
      }
      &:nth-child(6) {
        background-color: transparent;
        border: 1px solid transparent;
        font-family: "Roboto-Medium";
        &:hover {
          box-shadow: none;
          background-color: transparent;
          border: 1px solid transparent;
        }
      }
      a {
        display: inline-block;
        @include transition;
        &[aria-current="page"] {
          font-weight: bold;
        }
      }
    }
  }
}
// lightbox

.uk-modal-caption {
  color: $color_black;
  background-color: white;
  padding: 10px;
}
.uk-responsive-width {
  margin-top: -30px;
}
