// width
$width: 1120px;

// colors
// settings
$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);
$color_danger: rgba(255, 0, 0, 100%);

// header
$color_top_row-bg: rgb(238, 241, 247);
$color_top_row-color: rgb(69, 109, 178);
$color_top_row-link_span: rgb(31, 31, 31);
$color_search-color: rgb(185, 195, 213);
$color_navMenu-color: rgb(53, 75, 101);

// *************************************************************************************************

$color_burger-menu: rgb(255, 255, 255);
$color_header_link: rgb(255, 255, 255);
$color_mobile-menu-bg: rgba(252, 252, 252, 0.9);

// main
$color_cabinetLink-bg: rgb(50, 101, 148);
$color_cabinetLink-after: rgb(36, 82, 125);
$color_cabinetLink-hover-before: rgb(43, 150, 236);
$color_sidbar_link: rgba(0, 0, 0, 0.7);
$color_sidbar_h2: rgb(36, 82, 125);
$color_sidbar_h1: rgb(50, 101, 148);
$color_sidbar_h2-bg: rgb(238, 241, 247);
$color_content_color-link: rgb(170, 170, 170);
$color_content_h3: rgb(10, 10, 10);
$color_content_about-p: rgb(105, 105, 105);
$color_article_link: rgb(134, 149, 163);
$color_article_statistics: rgba(0, 0, 0, 0.65);
$color_article_p: rgb(68, 68, 68);

// main-page
$color_p: rgb(43, 43, 35);

// footer
$color_footer-bg: rgb(59, 72, 100);
$color_footer-color: rgb(255, 255, 255);
$color_footer-button: rgb(148, 171, 198);
$color_footer-button-hover-bg: rgb(69, 109, 178);
$color_footer-adress-span: rgb(102, 143, 216);

// pagination
$color_pagination: rgb(71, 74, 76);
$color_pagination_bg: rgb(244, 244, 244);

// breadcumbs
$color_bredcumbs-bg: rgb(247, 249, 252);
$color_bredcumbs-border: rgb(217, 225, 231);
$color_bredcumbs-triangle: rgb(69, 109, 178);
$color_bredcumbs-color: rgb(104, 121, 133);
